.webpage-header {
    margin: auto;
    padding: auto;
}

#board-container {
    

    width: 600px;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    padding: 3px;
}


.square {
    /* display: flex;
    flex-wrap: wrap;
    float: left;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    margin: auto; */

    text-align: center;
    font-size: 80px;
    border-style: solid;
    height: 200px;


}