.webpage-header {
    margin: auto;
    padding: auto;
}

.board-container {
    display: flex;
    min-width: 200px;
    aspect-ratio: 1 / 1;
    border-style: dotted;
    border-color: black;
    margin: auto;
    flex-wrap: wrap;
    
    
}

.board-row {
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
}

.board-cell {
    
    border-style: solid;
    height: 50px;
    width: 50px;
}